@use './variaveis' as *;

.barra{
    background-color: $secondary;
    height: 40px;
    margin: 0;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-left: 1.5rem;
        margin-right: 20px;
        font-size: 18px;
        gap: 2rem;
        align-self: center;
        padding: 10px;
    }

    li{
        text-decoration: none;
        list-style: none;
    }

    a{
        text-decoration: none;
        color: $accent;
        

        a:hover{
            color: $primary;
        }

        a:active{
            font-weight: bold;
        }
    }
}