@use './variaveis' as *;

.cabecalho{
    background-color: $backgrond;
    align-items: center;
    display: flex;
    padding: 2rem;
    h1{
        color: $accent;
         text-align: center;
    }
    a{
    text-decoration: none;
    }
}