@use './variaveis' as *;

.coluna{
    background-color: $secondary;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
    position: relative;

    .titulo{
        font-size: 18px;
        color:$primary; 
        text-align: center;
        font-family: $font-primary;
    }
}
