@use './variaveis.scss' as *;

.conteiner{
    max-width: 1440px;
    margin:10px auto;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 0rem;
    // background-color:$secondary;
    overflow: hidden;
    section{
        display: flex;
        gap: .5rem;

    }
}